:root {
    margin: 0;
    padding: 0;
    color: wheat;
    background-color: #000;
    background-image: url('/assets/background-universe-4.jpeg');
    background-size: cover; /* Scales the image to fit within the element */
    background-repeat: no-repeat;
    background-position: center;
    min-width: 500px;
    min-height: 400px;
}
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: #000C;
    backdrop-filter: blur(8rem);
}
.content-div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.canvas-div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}
#element-canvas-viewport {
    height: 100%;
    width: 100%;
}
.content {
    height: 95%;
    width: 95%;
}